.header {
    background-color: #025E73;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-right: 20px;
    padding-left: 25px;
  }
  
  .nav a {
    text-decoration: solid;
    color: #011F26;
    font-weight: bold;
    font-size: 22px;
  }
  
  .actions {
    display: flex;
    padding-left: 40px;
  }
  
  .login,
  .signup {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login {
    background-color: #011F26;
    color: #fff;
  }
  
  .signup {
    background-color: #A5A692;
    color: #fff;
  }
  