.tuto {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 23%;
    color: #fff;
    background-color: #011F26;
    padding: 1.5rem; 
    border-radius: 0.5rem; 
    width: 55%;
}